<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Walkabout California</h1>
    <p>Hiking Inn to Inn</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Hike inn to inn - Savor the journey and the destination. Leave the car behind, explore the wild and sleep in a comfortable inn each night.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p> This month we're celebrating the release of Walkabout Malibu to Mexico: Hiking Inn to Inn on the Southern California Coast traversing 200 miles of beautiful Southern California coastline.
        About WalkaboutCalifornia.com
        We invite you to read and share stories about inn to inn vacations, in California and around the world.

        With a light daypack and a few reservations you can travel for days on California's breathtaking coastline or in the Sierra Nevada Mountains, each night recovering your energy with a delicious meal, a comfortable bed, and maybe even a hot tub. Hiking inn to inn is an age old tradition. Enjoy and share stories, pictures and resources about human-powered travel from around the world.
        Learn more about inn to inn hiking vacations in California, become a member, or purchase Walkabout guides or the books. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2014</p>
  </footer>
</div> <!-- /container -->